a{
  text-decoration: none;
}
.header{
  padding: 10px 10px;
  border-bottom: 1px solid #ddd;
}
.header .inner-logo{
  display: flex;
  width: 200x;
  height: 150px;
  aspect-ratio: 1/1;
  justify-content: center;
  align-items: center;
}
.header .inner-logo img{
  width: 150px;
  height: auto;
  object-fit: cover;
}
.header .row{
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .inner-list ul{
  display: flex;
  align-items: center;
}
.header ul li{
  list-style: none;
  margin-left:10px ;
}
.card{
  border-radius: 5px;
  height: 500px;
}
.inner-topic .inner-image{
  width: auto;
  height: 200px;
  aspect-ratio: 1/1;
}
.inner-topic .inner-image img{
  width: 100%;
  height: 200px;
  object-fit: contain;
}
.inner-course .inner-image{
  width: auto;
  height: 200px;
  aspect-ratio: 1/1;
}
.inner-course .inner-image img{
  width: 100%;
  height: 200px;
  object-fit: contain;
}
[priceOld]{
  font-weight: 600;
  text-decoration: line-through;
}
[priceNew]{
  font-weight: 600;
  color:red;
}
.inner-image{
  position: relative; 
}
[discount]{
  position: absolute;
  top: 10px;
  right: 10px;
}
.inner-image.detail-course{
  border: 5px solid #ddd;
  border-radius: 10px;
}
.detail-course img{
  width: 100%;
  height: 100%;
  border-radius: 3px;
  object-fit: contain;
}
.inner-content{
  flex: 1;
}
.info-course{
  padding: 30px;
  margin-bottom: 20px;
  display:flex;
}
.info-course li{
  list-style: none;
  margin-right: 20px;
}
[button-like]{
  font-size: 30px;
  margin-right: 40px;
}
[button-tym]{
  font-size:30px;
}
[button-like].active{
  font-weight: 600;
  color:blue;
}
[button-tym].active{
  font-weight: 600;
  color:red;
}
[show-tym]{
  font-weight: 600;
  color:red;
}
[show-like]{
  font-weight: 600;
  color:blue;
}